{% extends "layout.html" %}

{% block title %}{{ this.title }}{% endblock %}

{% block center %}
    <section id="blog_post_center">
        <div class="row" id="blog_row">
            <div class="col-md-3 mx-4 my-4">
                <div class="container" id="left_nav_container">
                    {# left-aside #}
                    <section id="section_navbar">
                        <div class="container-fluid">
                            <nav>
                                <ul class="nav navbar-nav">
                                    <li{% if this._path == '/' %} class="active"{% endif %}><a
                                            href="{{ '/'|url }}">Welcome</a>
                                    </li>
                                    {% for href, title in [['/blog', 'Blog'],['/projects', 'Projects'],['/about', 'About']] %}
                                        <li{% if this.is_child_of(href) %} class="active"{% endif %}><a
                                                href="{{ href|url }}">{{ title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </nav>
                        </div>
                    </section>
                    {#    #}
                </div>
            </div>

            <div class="col-md-6 my-4 mx-4">
                {# center area #}
                <div class="container">
                    {% block blog_post_area %}{% endblock %}
                </div>
                {#    #}
            </div>
            <div class="col-md-3 mx-4 my-4">
                {# right-aside#}

            </div>

        </div>
    </section>
{% endblock %}