<link rel="stylesheet" type="text/css" href="{{ '/static/css/partial_layout/footer.css'|url }}">
<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Grid column -->
    <div class="col-md-12 ">
        <div class="mb-3 flex-center">
            <!--Linkedin -->
            <a class="li-ic" href="https://www.linkedin.com/in/%E5%94%AF%E8%BE%B0-%E5%BB%96-306b951b4/">
                <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!--Github-->
            <a class="ins-ic" href="https://github.com/LiaoWC">
                <i class="fab fa-github fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!--Heroku-->
            <a class="ins-ic" href="https://liaowc.herokuapp.com/">
                <i class="fab fa-python fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
        </div>
    </div>
    <!-- Grid column -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3"> Copyright &copy; 2020 liaowc. &nbsp;
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->

{#
Learn:
- https://mdbootstrap.com/docs/jquery/navigation/footer/
#}