html, #blocks-row {
    background-color: rgba(255, 227, 50, 0.63);
}

#nav .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.card {
    margin: 8px;
}

.deepthinking-block {
    background-color: rgba(0, 0, 0, 0.14);
    padding: 5px 3px 5px 3px;
    margin: 9px 5px 9px 5px;
    border-radius: 3%;
}

.deepthinking-block h3 {
    color: white;
}

.block-edit {
    font-size: small;
    line-height: 0.5em;
}

.deepthinking-block a.card-link {
    border-style: double;
    border-color: antiquewhite;
    border-radius: 70%;
}

#deepModeModalDialog {
    max-width: 100%;
    height: 100%;
    margin: 0;
}

#deepModeModalContent {
    min-height: 100%;
    border-radius: 0;
    border-style: none;
}

#deepModeModalContent .modal-body {
    background-color: steelblue;
    border-style: none;
}

#deepModeModalContent .modal-header {
    background-color: #343a40;
    color: white;
    border-style: none;

}

#deepModeModalContent .modal-header button span {
    color: white;
}

/*#deepModeCard{*/
/*    margin: 0 auto*/
/*}*/

.deepModeCardBtn {
    background-color: inherit;
    border: none;
}

.deepModeCardBtn:hover {
    background-color: #343a40;
}

#deepModeLeftHandSideCol {
    margin-top: 8vh;
}

#deepModeLeftHandSideColBtnRow {
    margin-top: 1.2vh;
}

#deepModeLeftHandSideColBtnRow button {
    font-size: x-large;
    width: 6vw;
}

#deepModeRow {
    padding: 0;
    margin: 0;
}

#deepModeRow .col-6 {
    padding: 0;
}

.deepModeRecordForm {
    margin-bottom: 3vh;
}

.deepModeRecordForm a {
    float: right;
    color: white;
    padding: 0;
}

.deepModeRecordForm a:hover {
    text-decoration: none;
}

.deepModeRecordForm label {
    color: white;
    margin: 0;
}

.deepModeRightHandSideColRecordBtnHover {
    font-size: 1.5em;
    border-right: 10em;
    cursor: pointer;
}



@media screen and (min-width: 658px){
    .deepModeRecordForm textarea {
        width: 18em;
    }
}

@media screen and (min-width: 927px) {
    #deepModeModalContent .modal-body{
        padding-left: 10vw;
        padding-right: 10vw;
        padding-top: 5vw;
    }
    #deepModeLeftHandSideCol{
        margin-top:10vh;
    }
}
