#nav-section-container {
    margin: 0;
}

#top-nav {
    background-color: #195c82;
    padding: 15px 30px 15px 30px;
}

#logo {
    margin-right: 23px;
    margin-left: 7px;
    font-size: x-large;
    border-style: double;
    border-radius: 20%;
    border-color: white;
    border-width: medium;
    padding: 5px;
}

#card_nav {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

#section_intro .container-xl {
    padding-left: 0;
    padding-right: 0;
}


.intro_topic_container {
    padding-top: 19px;
    padding-bottom: 19px;
}

#about_me .jumbotron {
    margin-top: 6px;
    background-color: #b7d0e838;
    margin-bottom: 0;
}

#card_nav div ul li a {
    color: grey;
}