{% macro render_blog_post(post, from_index=false) %}
    <div class="blog-post text-break">
        <div>
            {% if from_index %}
                <h1 class="title"><a href="{{ post|url }}" class="black-text">{{ post.title }}</a></h1>
            {% else %}
                <h1 class="title">{{ post.title }}</h1>
            {% endif %}
        </div>

        {% if post.tags %}

            {% for t in post.tags -%}

                <span class="badge badge-primary">
                        <a href="{{ ('/blog@tag/' ~ t)|url }}" class="white-text">
                            {{ t }}
                        </a>
                    </span>

            {% endfor %}

        {% endif %}

        <p class="meta">
            written by
            {% if post.twitter_handle %}
                <a href="https://twitter.com/{{ post.twitter_handle }}">{{ post.author or post.twitter_handle }}</a>
            {% else %}
                {{ post.author }}
            {% endif %}
            on {{ post.pub_date }}
        </p>
        <hr>
        {% if not from_index %}
            {{ post.body }}
        {% endif %}
    </div>
{% endmacro %}
