
#left_nav_container {
    padding: 1vw;
    /*margin:2vw 3.6vw 2vw 3.6vw;*/

    /*background-color: #d6dafd;*/
    border-style: dashed;
    border-radius: 0.5em;
    border-color: #c8d3d5;
}

#blog_row > div {
    padding: 1.5vw 1vw 1.5vw 1vw;
}

#section_navbar a {
    color: #7f7f7f !important;
}

#blog_row {
    margin-left: 0;
    margin-right: 0;
}

@media screen and (max-width: 756px) {
    #blog_row {
        max-width: 100%;
    }
}

body {
    background-image: url('/static/img/index_bg.png');
}

#blog_center_area, #blog_left_nav {
    background-color: white;
    border-radius: 5px;
}


#blog_center_area {
}

#blog_left_nav {
    background-color: white;
    height: 100%;
    margin-bottom: 0;
}