
#section_navbar a {
    color: #7f7f7f !important;
}

#blog_row {
    margin-left: 0;
    margin-right: 0;
}

@media screen and (max-width: 992px) {
    #blog_row {
        max-width: 100%;
    }
}

body {
    background-image: url('/static/img/index_bg.png');
}

#blog_center_area, #blog_left_nav {
    background-color: white;
    border-radius: 5px;
}

@media (max-width: 992px) {
    #blog_row > div {
        border-radius: 0;
    }
}

/************************************/
/* blog row center area' font size */
#blog_center_area {
    font-size: 18px;
}

@media (min-width: 576px) {
    #blog_center_area {
        font-size: 21px;
    }
}

/************************************/

/*****************************/
/* blog row columns' padding */
#blog_row > div {
    padding: 2vw 1vw 2vw 1vw;
}

@media (max-width: 767px) {
    #blog_row > div {
        padding-top: 26px;
    }
}

/*****************************/


#blog_left_nav {
    background-color: white;
    height: 100%;
    margin-bottom: 0;
}

/****************************/
h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

#all_posts h1, #lang_posts h1 {
    font-weight: 300;
    font-size: 2rem;
}

/* Code Block */
pre {
    background-color: #E6F1FF;
    padding: 15px 10px 10px 15px;
    font-size: 75%;
}

.hljs {
    background-color: #E6F1FF;
}

strong {
    font-weight: 600;
}