#section_intro .container-xl {
    padding-left: 0;
    padding-right: 0;
}


.intro_topic_container {
    padding-top: 19px;
    padding-bottom: 19px;
}

#about_me .jumbotron {
    margin-top: 6px;
    background-color: #b7d0e838;
    margin-bottom: 0;
}

#card_nav div ul li a {
    color: grey;
}

#hello-alert-container {
    margin-top: 1em;
}


div#index_top_jumbotron {
    /* width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0; */
    margin: 0;
    /*z-index: -999;*/
    background-image: url('/static/img/index_bg.png');
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    height: 100%;
}


#layout-nav {
    display: none;
}



/* div#index_top_jumbotron > div{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
} */

#avatar_img{
    max-width: 150px;
    width: 30vw;

    border-radius: 100%;
    border-style: double;
    border-width: 4px;
}

#index_hr_below_img{
        background-color: white;
    border-width: 1px;
    width: 75vw;
    max-width: 350px;
}

.page-footer {
    display: none;
}