#project_description * {
    overflow-wrap: break-word;
}

#project_description img {
    display: block;
    max-width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /*position: absolute;*/
    /*left: 50%;*/
    /*transform: translate(-50%);*/
}