#nav-section-container {
    margin: 0;
}

#top-nav {
    background-color: #195c82;
    padding: 15px 30px 15px 30px;
}

#logo {
    margin-right: 23px;
    margin-left: 0;
    font-size: x-large;
    border-style: double;
    border-radius: 20%;
    border-color: white;
    border-width: medium;
    padding: 5px;
}
