/* DEFAULT */
/**/
/*footer, div.page {*/
/*    width: 760px;*/
/*    margin: 0 auto;*/
/*    background: #daeef3;*/
/*    padding: 20px 30px;*/
/*}*/
/**/
/*div.page {*/
/*    background: #f1fbfe;*/
/*}*/

/* Modify the "blue" class color */
.blue {
    background-color: #195c82 !important;
}

/* Automatically resize images to fit the column */
.blog-post img {
    max-width: 90%;
}


/* //////////////////////// */

#navbarSupportedContent .dropdown-menu {
    border-width: medium;
    border-style: dotted;
    border-color: #195c82;
}

html {
    font-size: 18px;
}


/* //////////////////////////////////// */

#click_to_top_btn {
    position: fixed;
    height: 60px;
    bottom: 40px;
    right: 40px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    display: none;
    background-color: rgb(25, 92, 130) !important;
}

@media (max-width: 1211px) {
    #click_to_top_btn {
        background-color: rgba(0, 0, 0, 0) !important;
        color: #212529;
        /*box-shadow: 2px 2px 3px rgba(25, 92, 130, 0.45);*/
    }
}

@media (max-width: 992px) {
    #click_to_top_btn {
        background-color: rgba(0, 0, 0, 0) !important;
        color: #212529;
        box-shadow: 2px 2px 3px rgba(25, 92, 130, 0.45);
    }
}

/* /////// Loader ///////// */
#loader_spinner_container {
    position: absolute;
    z-index: 99999;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

#loader {
    background-color: black;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 9999;
}

.scroll-fadeInUp{

}

html {
  scroll-behavior: smooth;
}