{% extends "layout.html" %}

{% block center %}
    <style>

        #section_intro .container-xl {
            padding-left: 0;
            padding-right: 0;
        }


        .intro_topic_container {
            padding-top: 19px;
            padding-bottom: 19px;
        }

        #about_me .jumbotron {
            margin-top: 6px;
            background-color: #b7d0e838;
            margin-bottom: 0;
        }

        #card_nav div ul li a {
            color: grey;
        }

        #hello-alert-container {
            margin-top: 1em;
        }
    </style>
    <section id="section_intro">
        <div class="container-xl">
            <div class="card text-center" id="card_nav">
                <div class="card-header nav nav-tabs">
                    <ul class="nav nav-tabs card-header-tabs" role="tablist">
                        <li class="nav-item active" role="presentation">
                            <a class="nav-link" id="hello-tab" data-toggle="tab" href="#hello" role="tab"
                               aria-controls="hello">Hello</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link " id="about_me-tab" data-toggle="tab" href="#about_me" role="tab"
                               aria-controls="about_me">About me</a>
                        </li>

                        <li class="nav-item" role="presentation">
                            <a class="nav-link " id="tools-tab" data-toggle="tab" href="#tools" role="tab"
                               aria-controls="tools">Tools</a>
                        </li>

                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="hello" role="tabpanel" aria-labelledby="hello-tab">
                        <div class="jumbotron jumbotron-fluid">
                            <div class="container">
                                <h1 class="display-4">Welcome!</h1>
                                <p class="lead">Here, you "will" know more about me and you may find some interesting
                                    programs!</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="about_me" role="tabpanel" aria-labelledby="about_me-tab">
                        <div class="container-xl intro_topic_container">
                            <h5 class="card-title">Under Construction</h5>
                            <p class="card-text">Here's under construction. Hope we can meet with each others as soon as
                                possible.</p>
                            <a href="#" class="btn btn-primary">???</a>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tools" role="tabpanel" aria-labelledby="tools-tab">
                        <div class="container-xl intro_topic_container">
                            <h5 class="card-title">Under Construction</h5>
                            <p class="card-text">Here's under construction. Hope we can meet with each other as soon as
                                possible.</p>
                            <a href="#" class="btn btn-primary">???</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}