html, #blocks-row{
    background-color: rgba(255,227,50,0.63);
}

#nav .container-fluid{
    padding-left: 0;
    padding-right: 0;
}

.card{
    margin:8px ;
}

.deepthinking-block{
    background-color:rgba(0,0,0,0.14);
   padding: 5px 3px 5px 3px;
    margin: 9px 5px 9px 5px;
    border-radius: 3%;
}

.deepthinking-block h3{
    color: white;
}

.block-edit{
    font-size: small;
    line-height: 0.5em;
}

.deepthinking-block a.card-link {
    border-style: double;
    border-color: antiquewhite;
    border-radius: 70%;
}