#nav-section-container {
    margin: 0;
    z-index: 9;
}

#top-nav {
    background-color: #195c82;
    padding: 15px 30px 15px 30px;
}

@media screen and (max-width: 992px) {
    #blog_row {
        max-width: 100%;
    }
    #top-nav {
        padding: 0px 30px 0px 30px;
    }
}

#logo {
    margin-right: 23px;
    margin-left: 0;
    font-size: x-large;
    border-style: double;
    border-radius: 20%;
    border-color: white;
    border-width: medium;
    padding: 5px;
}

#hidden_blog_nav {
    margin-bottom: 15px;
}